   <h1>Escribe tu comentario</h1>
   
   <form action="/quizes/<%= quizid %>/comments/" method="POST">
      <input type="text" id="comment" name="comment[texto]" value="Aqu&iacute; el comentario">
      <article class="question"><button type="submit">Enviar</button></article>
   </form>
