
    <h1>Bienvendio a <%= appname %>!</h1>
    <p>El portal donde podr&aacute; crear sus propios juegos. El funcionamiento es muy sencillo.</p>
    <p>En la parte superior tienes 3 enlaces.</p>
    <ul>
    <li>Inicio te traer&aacute; de nuevo a esta p&aacute;gina.</li>
    <li>Preguntas te llevar&aacute; al listado de preguntas disponibles.</li>
    <li>Autor es un poco de informaci&oacute;n acerca del autor de este juego.</li>
    </ul>
    <p>La gracia de este juego es que no hay que limitarse a las preguntas que ya existen, sino que todos
    podemos a&ntilde;adir preguntas para ampliar la base de datos. No hay ning&uacute;n tipo de limitaci&oacute;n
    a la hora de a&ntilde;adir preguntas. El &uacute;nico requisito es a&ntilde;adir cada nueva prregunta
    a la categor&iacute;a correspondiente.</p>
    <p>Todos los puntos del M&oacute;dulo 8 completados!</p>
