<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Quiz<% if(title!=undefined){ %> &raquo; <%= title %><% } %></title>
      <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
      <link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />
      <link rel='stylesheet' type='text/css' media='only screen and (min-width: 530px) and (min-device-width: 481px)' href='/stylesheets/wide.css' />
      <link rel='stylesheet' type='text/css' href='//abelcastosa.com/wp-content/themes/ac2015/normalize.min.css' />
      <link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
      <meta name='viewport' content='width=device-width; initial-scale=1.0; user-scalable=no'>
   </head>

   <body>
      <header>
         <h1>Quiz<% if(title!=undefined){ %> &raquo; <%= title %><% } %></h1>
      </header>

      <nav class="main" id="n1" role="navigation">
         <span><a href="/">Inicio</a></span>
         <span><a href="/quizes">Preguntas</a></span>
         <span><a href="/author">Autor</a></span>
         <% if(!session.user){ %>
            <span><a href="/login">Entrar</a></span>
         <% } else{ %>
            <span><a href="/logout">Salir</a></span>
         <% } %>
      </nav>

      <section id="main">
         <% if(errors.length){ %>
            <span id='ErrrorMsgs'>
               Corregir los siguientes errorres:<br />
               <% for(var i in errors){ %>
                  <span><%= errors[i].message %></span><br />
               <% } %>
            </span>
         <% } %>
         <div><%- body %></div>
      </section>

      <footer class="main" id="f1">
         <a href="http://es.wikipedia.org/wiki/Quiz">&iquest;Qu&eacute; es un quiz?</a>
         <a href="https://github.com/ac-miriadax/Quiz">El proyecto en GitHub</a>
      </footer>
   </body>
</html>
