<!DOCTYPE html>
<html>
  <head>
    <title>Quiz - pregunta</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Bienvendio a Quiz: El juego de las preguntas</h1>

    <form action="/quizes/answer" method="GET">
    	Pregunta: <%= pregunta %></p>
   		<input type="text" name="respuesta" value="Responda aqu&iacute;">
    	<input type="submit" value="Enviar">
    </form>
  </body>
</html>
