    <form action="/quizes/<%= quiz.id %>/answer" method="GET">
    	<h1>Pregunta: <%= quiz.pregunta %></h1>
   		<input type="text" id="resp" name="respuesta" value="Responda aqu&iacute;">
    	<article class="question"><input type="submit" value="Probar suerte"></article>
    </form>
